<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Portal de notícias</title>
			<link rel="stylesheet" href="/css/bootstrap.css">
			<script src="https://unpkg.com/html5-qrcode"></script>
		</head>
	<body>
		<div class="mx-auto text-center container-sm alert alert-info" role="alert">
			A sua presença foi marcada com sucesso!
		</div>
		<div class="container-sm text-center alert alert-warning" role="alert">
			Você será redirecionado para o início!
		</div>
		<script src="/js/script.js"></script>
		<script> window.onload = redirect("/read"); </script>
	</body>
</html>